[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
tornado = "*"
redis = "*"
mongoengine = "*"
requests = "*"
python-memcached = "*"
decorator = "*"
qrcode = "*"
pandas = "*"
aiofiles = "*"
rsa = "*"
requests-toolbelt = "*"
twisted = {path = "./whl/Twisted-18.7.0-cp36-cp36m-win_amd64.whl"}
scrapy = "*"
itsdangerous = "*"
fire = "*"
pyyaml = "*"

[requires]
python_version = "3.6"
