[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
tornado = "*"
redis = "*"
mongoengine = "*"
requests = "*"
python-memcached = "*"
decorator = "*"
qrcode = "*"
pandas = "*"
aiofiles = "*"
rsa = "*"
requests-toolbelt = "*"

[requires]
python_version = "3.6"
