[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
certifi = "==2017.4.17"
chardet = "==3.0.4"
idna = "==2.5"
mongoengine = "==0.13.0"
numpy = "==1.13.1"
olefile = "==0.44"
pandas = "==0.20.3"
pillow = "==4.2.1"
pymongo = "==3.4.0"
python-dateutil = "==2.6.1"
python-memcached = "==1.58"
pytz = "==2017.2"
qrcode = "==5.3"
redis = "==2.10.5"
requests = "==2.18.1"
singledispatch = "==3.4.0.3"
six = "==1.10.0"
tornado = "==4.5.1"
"urllib3" = "==1.21.1"
xlrd = "==1.0.0"
xlwt = "==1.2.0"
tables = "==3.4.2"
ipython = "==5.4.1"
decorator = "==4.1.2"
backports_abc = "==0.5"

[requires]
python_version = "2.7"
