fastapi
uvicorn
click
environs
concurrent_log_handler
umongo[motor]
aioredis
aiohttp
aiofiles
async-lru
async_property
lxml
pyyaml
openpyxl
msgpack
arrow
faker
qrcode
Pillow
requests
beautifulsoup4
pyzbar
pyjwt
pycryptodome
