fastapi==0.95.0
uvicorn==0.21.1
click==8.1.3
environs==9.5.0
concurrent_log_handler==0.9.20
umongo[motor]==3.1.0
sqlalchemy==1.3.24
sqlalchemy_aio==0.17.0
aioredis==2.0.1
aiohttp==3.8.4
aiofiles==23.1.0
async-lru==2.0.2
async_property==0.2.1
arrow==1.2.3
requests==2.28.2
pyjwt==2.6.0
pycryptodome==3.17
wechatpy==1.8.18
